
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
html, body {
	font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
  color: black;
  background: fixed;
}
.main-container {
	margin: 0 auto;
  width: 99%;
  background: #fffff0;
  padding: 20px 50px;
	
	background-color: rgb(211, 206, 206); 
	
 } 


 header nav {
	display: flex;
	justify-content: flex-end;
	width:100%;
}

header nav a {
    padding: 10px;
	max-width: 100%;
	color: rgb(12, 11, 11);
	text-decoration: none;
}

header nav a:hover {
	color: rgb(211, 211, 221);
	text-decoration: none;
}

.border-div {
	background-color: rgb(182, 179, 179);
	flex-wrap: wrap;
	justify-content:flex-start;
    
}
.banner img{
	
	border-radius: 10px;
	padding: .5px;
	width: 188px;
    margin-left:20px;
}

.cta {
    display: flex;
	justify-content: flex-end;
	margin: 20px;
    
}
 .cta .text-content {
	width: 100%;
	margin:0 auto;
	padding: 10px;
	font-size:1.5rem;
	
}
button { 
	margin: 0 auto;
    border-radius: 3px;
}
button:hover {
    color: red;
}
/* end of header nav banner styles */

/* for the skills bar */





.skills-container {
	
	border: 2px dashed black;
   text-align: right; /* Right-align text */
   padding-top: 10px;  /*Add top padding  */
    padding-bottom: 10px; /* Add bottom padding */
   color: white; /* White text color */
}
 
.about {
	border: 1px dashed yellow;
}
.about-text h2{
	display: flex;
	line-height: 18px;
	justify-content: space-evenly;
	margin-top: 20px;
	color: rgb(27, 26, 26);
   
}
/* p {
	font-size: 18px;
	font-family: 'ZCOOL XiaoWei', serif;
	padding: 10px;
	
} */
.skills-list {
	margin-top: 15px;
	padding: 5px;
	border:1px dashed #04AA6D;

}
.skills-container{
	border: 10px dashed red;
	margin: 25px;
	width: 55%;
	
	
	
}

.html {width: 100%; background-color: #04AA6D;} /* Green */
.css {width: 95%; background-color: #2196F3;} /* Blue */
.js {width: 95%; background-color: #f44336;} /* Red */
.node {width: 95%; background-color: #cec27e;} /* Dark Grey */

/* skills bar end */

/* WORK HISTORY STYLES  */
.content-row{
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 25px;
	margin: 0 auto;
  width: 99%;
  background: #fffff0;
  padding: 20px 50px;
	
	background-color: rgb(211, 206, 206); 
}



table.work-history, table.education-history {
	margin: 0 auto;
  width: 100%;
	border: 2px dashed purple;
}

td,
th {
   
    padding: 10px;
}

td {
	background-color: #dbd9db;
    text-align: center;
}

tr:nth-child(even) {
	background-color: #757472;
  }

th[scope="col"] {
    background-color: #a5a3a5;
    color: rgb(20, 19, 19);
}

th[scope="row"] {
    background-color: #808085;
}

/* WORK-Education HISTORY STYLES ENDS */


/* Fifth section */

footer {
	
	border: 2px dashed red;
	
	
	margin: 0 auto;
  width: 99%;
  background: #d1cfcf;
  padding: 20px 50px;
 
  
	
 }  
 .copyright {
	text-align: center;
	 color: blue;
 }